<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>area-chat</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <script src="js/chat.js" defer></script>
    <div class="wrapper">
      <section class="chat-area">
        <header>
          <a class="exit" href="users.html">exit</a>
          <img
            src="/img/WhatsApp Image 2024-02-27 at 04.24.25_dadf01eb.jpg"
            alt=""
          />
          <div class="details">
            <!-- <span>Gathem</span>
            <p>Active Now</p>
            هتشيل و تحط عندك يسطا -->
            <!-- <form action="#" method="POST" enctype="multipart/form-data" autocomplete="off"></form> دا ربط الفورم-->
          </div>
        </header>
        <div class="chat-box">
          <div class="chat outgoing">
            <div class="details">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="chat incoming">
            <img
              src="img/WhatsApp Image 2024-02-27 at 04.24.25_dadf01eb.jpg"
              alt=""
            />
            <div class="details color">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <form action="" class="typing-area">
          <input
            type="text"
            class="input-feild"
            placeholder="type a message here"
          />
          <button class="active" style="cursor: pointer">send</button>
        </form>
      </section>
    </div>
  </body>
</html>
