<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>users</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <script src="js/users.js" defer></script>
    <div class="wrapper">
      <section class="users">
        <header>
          <div class="content">
            <!-- <img
              src="/img/WhatsApp Image 2024-02-27 at 04.24.25_dadf01eb.jpg"
              alt=""
            /> هتشيل الصور و برضو نفس الكلام-->
            <div class="details">
              <!-- <span>Gathem & Saher</span>
              <p>Active Now</p>
              دول هتاخدهم عندك شيل الكتابه -->
            </div>
          </div>
          <a href="login.html" class="logout">Log Out</a>
        </header>
        <div class="search">
          <input type="text" placeholder="Enter Name To Search..." /><!-- <span
          class="text"
          style="font-size: 25px; top: 25%; left: 40%; position: absolute"
          >Select an user to start chat</span
        > -->
          <button
            class="button"
            style="
              height: 40px;
              width: 67px;
              cursor: pointer;
              background: rgb(68 93 130);
              color: white;
              border-radius: 0 10px 10px 0;
              margin: 2px;
              position: absolute;
              right: -5px;
            "
          >
            Search
          </button>
        </div>

        <div class="users-list"></div>
      </section>
    </div>
  </body>
</html>
